.techList {

    max-width: 900px;
    width: 100%;
    max-height: 400px;
    height: 100%;
   
    padding: 1rem 0.5rem 1rem 0.5rem;
    .titleTech {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 900px;
        justify-content: space-between;
       
        
    }
  
    & ul {
        padding:  25px 25px 25px 25px;
        background-color: var(--Grey-3);
        border-radius: 4px;
        max-width: 1040px;
        margin: 1rem 2rem 1rem 2rem;
        width: 100%;
        max-height: 400px;
        height: 100%;
        margin-top: 1.5rem;
    }

    

}
@media (max-width:1116px){
    .techList {
       
    .titleTech {
        
        width: 100%;
        max-width: 600px;
       
    }
   ul {

     
       width: 100%;
       max-width: 600px;
    }    

}}
@media (max-width:840px){
    .techList {
      
    .titleTech {
        
        width: 100%;
        max-width: 600px;
       
    }
   ul {

     
       width: 100%;
       max-width: 600px;
    }  
}}
@media (max-width:840px){
    .techList {
      
    .titleTech {
        
        width: 100%;
        max-width: 500px;
       
    }
   ul {

     
       width: 100%;
       max-width: 500px;
    }    

}}
@media (max-width:530px){
    .techList {
      
    .titleTech {
        
        width: 100%;
        max-width: 400px;
      
    }
   ul {

     
       width: 100%;
       max-width: 400px;
    }    

}}

