.title1 {
    font-family: var(--font-primary);
    font-size: var(--title1);
    font-style: normal;
    font-weight: var(--Title-Weight1);
    line-height: 28px;
}

.Headline {
    color: var(--Grey-1);
    font-family: var(--font-primary);
    font-size: var(--headline);
    font-style: normal;
    font-weight: var(--Title-Weight4);
    line-height: 22px;
}


.inputTitle {
  
    font-family: var(--font-primary);
    font-size: var(--title2);
    font-style: normal;
    font-weight: var(--Title-Weight4);
    line-height: 26.394px;
}
.typography{

    color: var(--grey-0);
    font-family: var(--font-primary);
    font-size: var(--headline);
    font-style: normal;
    font-weight: var(--Title-Weight1) ;
    line-height: 19.252px;
}