.formLogin{
    border-radius: 4px;
    background: var(--Grey-3);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    
    display: inline-flex;
    width: 100%;
    max-height: 65rem;
    height: 100%;
    padding: 32px 22px;
    flex-direction: column;
    align-items: baseline;
    gap: 22px;
    margin-bottom: 1rem;

    & h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        
    }

    & input {
        display: flex;
        width: 21rem;
        height: 3rem;
        padding: 0px 16.243px;
        align-items: center;
        gap: 1rem;

        border-radius: 4px;
        border: 1.218px solid var(--Grey-2);
        background: var(--Grey-2);

    }

    .divBt{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}